<div ng-app>
    <h1>
        {{fromjs}}
    </h1>
    <p>
        We're testing some start np-app
    </p>
    <input type="text" ng-model="name" placeholder="Your name">
    <h2>Hello \{{name}}</h2>
    <h3>Hello <span ng-bind="name"></span></h3>
</div>