==={{title}}===

<article class="container">
    <h2>排版 <small>排版&lt;small&gt;</small><p class="small">排版（类名small）</p></h2>
    <div class="">
        <h3>中心内容</h3>
        <p>中心内容<span  class="lead">突出</span>显示</p>
    </div>
    <div>
        <h3>内联文本元素</h3>
        <h4>Marked text</h4>
        <p>使用&lt;mark&gt;标签来标记内联<mark>文本</mark></p>
    </div>

</article>
<article class="container">
    {{> discount}}
</article>

