{{#section 'head'}}
    <!-- we want Google to ignore this page -->
    <meta name="robots" content="noindex">
    <link rel="stylesheet" href="vendor/ng-table/ng-table.min.css">
{{/section}}
<section ng-app="userTableApp">
    <h1>Users list</h1>
    <user-table></user-table>
</section>
{{#section  'custom-angular-js'}}
    <script src="vendor/ng-table/ng-table.min.js"></script>
    <script src="javasctipts/usertable.js"></script>
{{/section}}