<!doctype html>
<html lang="en"ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div ng-controller="levalA">
    <h3>{{title}}</h3>
    ValueA = {{valueA}}
    <input type="button" ng-click="inc()" value="+">
    <div ng-controller="LevelB">
        <h3>{{title}}</h3>
        ValueA = {{valueA}}<br/>
        ValueB = {{valueB}}
        <input type="button" ng-click="inc()" value="+">
        <div ng-controller="LevelC">
            <h3>{{title}}</h3>
            ValueA = {{valueA}}<br/>
            ValueB = {{valueB}}<br/>
            ValueC = {{valueC}}
            <input type="button" ng-click="inc()" value="+">
        </div>
    </div>
</div>


<script src="vendor/angular/angular.min.js"></script>
<script src="javasctipts/levala.js"></script>
</body>
</html>