<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <meta charset="utf-8">
    <script src="vendor/angular/angular.min.js"></script>
    <script src="javasctipts/three.js"></script>
</head>
<body>

<div ng-controller="myctrl">
    <select required="" class="form-control" ng-model="selectedProvince" ng-options="item.id as item.text for item in regionData">
        <option value="">省</option>
    </select>
    <select class="form-control" ng-model="selectedCity" ng-options="item.id as item.text for item in citys">
        <option value="">市</option>
    </select>
    <select class="form-control" ng-model="selectedDstrict" ng-options="item.id as item.text for item in districts">
        <option value="">区</option>
    </select>
</div>

</body>
</html>